:root{
    --cinza-white: rgb(245, 245, 245);
    --cinza-light: rgb(191, 198, 204);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 93,75%;
    
}
body {
    font-family: Arial;
    margin: 0;
}

/*=====  header  =======*/
header{
    /* logo tiro border solid */
    margin: auto;
    padding: 60px;
    text-align: center;
    background-image: linear-gradient(rgb(15, 16, 87), blue,rgb(15, 16, 87));
}

#logo{
    display: flex;
    justify-content: center;
    
    padding: 0.5rem;
}

#logo a{
    background-color: #333;
    color: white;
    padding: 0.5rem;
    text-decoration: none;
    text-align: center;
    border-radius: 0.3rem;
    border: 1px solid black;
}
#logo :hover{
    background-color: #ddd;
    color: black;
    border-radius: 0.3rem;
}
.rede-social{

    display: flex;
    align-items: center;
    
    margin: auto;
    position:absolute;
    left:80%;

}   
.rede-social a{
    display: flex;
    padding: 0.25rem;
    margin-left: 0.5rem;
    background-color:var(--cinza-light);
    border: 1px solid black;
    border-radius: 0.4rem;
}
.rede-social a:hover{
    background-color:white;
    width: 60px;
    height: 60px;
}

/*========= navegação/ menu*/
.navbar{
    background-color: #333;
    display: flex;
    justify-content: center;

}
.navbar ul{
   margin: auto;
   justify-content: center;
}
label[for="bt_menu"]{
    padding: 5px;
    font-family: Arial;
    color: white;
    background-color: #333;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}
#bt_menu {
    display: none;
}
label[for="bt_menu"]{
    display: none;
}
/*  ===== dropdown =======  */

ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #333;
    width: auto;
    width: 100%;
}

li{
    float: left;
    
}

li a, .dropbtn{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 150px;
}

li:hover, .dropdown :hover .dropbtn{
    background-color: red;
    border-bottom: 2px solid white;
}

li .dropdown{
    display: inline-block;
    position: relative;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover{
    background-color: #dad7d7;
}
.dropdown:hover .dropdown-content {
    display: block;
}

/*  ======== main ========  */

main{
    background-color: rgb(0, 0, 0);
    margin: auto;
    margin-bottom: -16px;
    
}
.imagens{
    
    display: flex;
    justify-content: center;
    
}
.imagens picture{
    padding: 0.5rem;
}

.infosite{
    
    text-align: center;
    margin: 1rem;
}

.divpokemon{
    background-color: var(--cinza-white);
    margin: auto;
    padding: 1rem 1rem 1rem;
    border: 5px solid;
    border-color: var(--cinza-light);
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    
}

/*  ======== Profisão / Working ======    */
.profmold {

    display: flex;
    text-align: center;
    margin: 0.5rem;
    padding: 1rem;
    justify-content: center;
}
.profmold a{
    
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 0.5rem 5rem;
    margin: 1rem;   
    text-decoration: none;
    color: black;
}

.profmold a:hover{
    background-color: #333;
    color: white;

}
/* ========== Modal ================ */
.modal-overlay {
    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0, 0.7);

    position: fixed;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    
    
    opacity: 0;
    visibility: hidden;
}
.modal-overlay.active {
    opacity: 1;
    visibility: visible;
    
}
.modal-overlay.active h1 {
    text-align: center;
}
.modal{
    background-color: #f0f2f5;
    padding: 2.4rem;
    position: relative;
    border-radius: 0.25rem;
}
.modal h1{
    margin-bottom: 25px;
}
/*========input / button=========*/

input[ type = text ],select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    box-sizing: border-box;
}

input[type = date]{
    width: 100%;
    padding: 9px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 0.25rem;
    display: inline-block;
    font-size: 16px;
}
input[type = email]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}
input[type = password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    box-sizing: border-box;
}
input[type = submit]{
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    margin-top: 25px;
}
input[type = submit]:hover{
    background-color: #58c75c;
}

.input-group.actions{
    text-align: center;
    border: none;
    background:rgb(146, 145, 145);
    padding: 13px 20px;
    border-radius: 0.25rem;
    cursor: pointer;
    margin: 8px 0;
    
}
.input-group.actions a{
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
}
.input-group.actions:hover {
    background: rgb(110, 110, 110);
}
/*==========footer===============*/
footer p{

    text-align: center;
    margin: auto;
    border: none;
    padding-top: 10px;
    color: white;
    height: 100px;
}
footer ul{
    text-align: start;
    padding-left: 1rem;
    color: white;
    list-style-type: none;
    
}
footer{
    background-color: black;
    padding-top: 1rem;
    
}

@media (max-width: 1100px){
    .navbar ul{
        display: block;
    }
    .profmold{
        flex-direction: column;
        max-width: 70%;
        margin: auto;
    }
}

@media (max-width: 800px){
    label[for="bt_menu"]{
        display: block;
    }
    .navbar{
        margin-top: 5px;
        margin-left: -120%;
        transition: all .4s;
    }
    #bt_menu:checked ~ .navbar{
        margin-left: 0;
    }
    
    .imagens, .navbar ul li{
        
        float: none;
        flex-direction: column;
        text-align: center;
    }
    .navbar ul .dropdown-content{
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all .4s;
    }
    .navbar ul li:hover .dropdown-content{
        height: auto;
        max-height: 250px;
    }
    .dropdown-content a{
        width: 100%;
        text-align: center;
    }
    .profmold{
        max-width: 100%;
    }
}

