
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: rgba(0, 0, 0, 0.87);
    padding: 30px;
    gap: 50px 30px;
}

.grid-pokemon{
    background-color: rgb(67, 124, 247);
    font-size: 30px;
    padding: 150px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.808);
    border-radius: 0.5rem;
    
}
.title-galeria{
    text-align: center;
    font-size: 30px;
    padding: 10px;
    color: white;
    border-bottom: 1px solid white;
    width: 35%;
    margin: auto;
    padding-top: 30px;
}
.body-main{
    background-color: rgb(0, 0, 0);
}

/*==========footer===============*/
.footer-index{
    background-color: black;
    padding-top: 1rem;
    
}
.footer-index p{

    text-align: center;
    margin: auto;
    padding: 10px;
    color: white;
    border-bottom: 1px solid white;
    width: 20%;
    margin-bottom: 30px;
    margin-top: 50px;
    font-size: 20px;
}
